.new-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 25;

  &::after {
    content: '';
    display: block;
    background: var(--col-1);
    opacity: 0.2;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
  }



  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
  }

  &__logo {
    width: 117px;

    img {
      display: block;
    }
  }



  &__nav {
    width: calc(100% - 315px - 154px - 80px);
  }

  &__cont {
    width: 315px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
    color: var(--col-1);
  }

  &__link {
    color: var(--col-1);
    font-family: var(--ff-1);
    text-decoration: none !important;
    transition: all 0.3s;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &--mod {
      font-weight: 500;
      font-size: 12px;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--col-3);
    }
  }
}
