:root {
  --ff-1: 'Inter', sans-serif;

// цвета
// базовые
--col-1: #ffffff;
--col-2: #5F6063;
--col-3: #1a1b1f;

// фирменные
--col-4: #00b6df;
--col-5: #ddddde;
--col-6: #d4d7db;
// акцентные
// --col-5: red;

}
