.js-menu-fixed {

  @media (min-width: 1200px) {
    .new-header {
      position: fixed;
      background-color: var(--col-1);
      animation-name: show-header;
      animation-duration: 0.4s;
      border-bottom: 1px solid var(--col-5);
      padding-top: 5px;
      padding-bottom: 5px;

      &__flex {
        padding: 0;
      }

      &::after {
        display: none;
      }

      &__link {
        color: var(--col-3);

        &--mod {
          color: var(--col-4);
        }
      }

      &__logo {
        width: 48px;
      }
    }

  }

  @media (max-width: 1200px) {
    .header {
      position: sticky;
      top: 0;
      z-index: 999;
      background-color: #fff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      animation-name: show-header;
      animation-duration: 0.4s;
    }

    .header__navigation {
      position: fixed;
      top: 70px;
    }

    &.js-menu-active {
      .header {
        box-shadow: none;
      }
    }

  }

  @media (max-width: 768px) {
    .header__navigation {
      min-height: 100vh;
      overflow: auto;
      padding-bottom: 120px;
    }
  }

  @media (max-width: 425px) {
    .header__navigation {
      padding-top: 20px;
      padding-bottom: 80px;
    }
  }



}
