.section-footer {

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
  }


  .title {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin: 0;
  }
}
